.EndScreen {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.EndScreen {
  overflow: hidden;
}

.EndScreen .xAndOArray {
  overflow-wrap: break-word;
  width: 100%;
}

.EndScreen span.O {
  color: lightgreen;
}

.EndScreen span.X {
  color: lightcoral;
}

.EndScreen .modal {
  position: fixed;
  top: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  opacity: 0.95;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

.EndScreen .modal a {
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
